# ignore features_ring folder
features_ring/

# ignore .pkl files
*.pkl

# ignore .DS_Store files
.DS_Store

# ignore sb_project folder
sb_project/

# ignore models folder
models/

# ignore data/models folder
data/models/

# ignore .tsv files
*.tsv

# not ignore atchley.tsv
!atchley.tsv

# ignore .cif files
*.cif

# ignore __pycache__ folders
__pycache__/

# ignore fi_plots folder
fi_plots/